.add {
	border: 3px solid green;
	padding: 10px;
	margin-left: 250px;
	margin-top: 30px;
}

.highlight-score {
	margin: 0 -0.4em;
	padding: 0.1em 0.4em;
	border-radius: 0.8em 0.3em;
	background: transparent;
	background-image: linear-gradient(
		to right,
		rgba(255, 225, 0, 0.1),
		rgba(255, 225, 0, 0.7) 4%,
		rgba(255, 225, 0, 0.3)
	);
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}

ul#scores-list {
	width: 200px;
	margin-left: 20px;
	padding: 0;
	font-size: large;
}

ul#scores-list span {
	display: inline-block;
}

.blink {
	animation: blinker 0.5s linear 2;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}
